
.vs/EFT_Launcher_12/v16/.suo
.vs/EFT_Launcher_12/v16/Server/sqlite3/db.lock
.vs/EFT_Launcher_12/v16/Server/sqlite3/storage.ide
.vs/EFT_Launcher_12/v16/Server/sqlite3/storage.ide-shm
.vs/EFT_Launcher_12/v16/Server/sqlite3/storage.ide-wal
EFT_Launcher_12/bin/Debug/System.Numerics.dll
EFT_Launcher_12/bin/Debug/System.Numerics.xml
EFT_Launcher_12/bin/Release/System.Numerics.dll
EFT_Launcher_12/bin/Release/System.Numerics.xml
EFT_Launcher_12/obj/Debug/EmuTarkov-Launcher.exe
EFT_Launcher_12/obj/Debug/EmuTarkov-Launcher.pdb
EFT_Launcher_12/obj/Release/DesignTimeResolveAssemblyReferences.cache
EFT_Launcher_12/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
EFT_Launcher_12/obj/Release/EFT_Launcher_12.csproj.CopyComplete
EFT_Launcher_12/obj/Release/EFT_Launcher_12.csproj.GenerateResource.cache
EFT_Launcher_12/obj/Release/EFT_Launcher_12.EditProfileForm.resources
EFT_Launcher_12/obj/Release/EFT_Launcher_12.MainWindow.resources
EFT_Launcher_12/obj/Release/EFT_Launcher_12.Properties.Resources.resources
EFT_Launcher_12/obj/Release/EmuTarkov-Launcher.exe
EFT_Launcher_12/obj/Release/EmuTarkov-Launcher.pdb
EFT_Launcher_12/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
EFT_Launcher_12/Properties/Newtonsoft.Json.dll
EFT_Launcher_12/bin/Release/Newtonsoft.Json.dll
EFT_Launcher_12/bin/Release/EmuTarkov-Launcher.exe
EFT_Launcher_12/bin/Release/EmuTarkov-Launcher.exe.config
EFT_Launcher_12/bin/Release/EmuTarkov-Launcher.pdb
